*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;
  background-color: #dadbe1;
  font-family: sans-serif;
}

#chat-app { 
  display: grid;
  grid-template-areas: 
    "users messages"
    "outgoing outgoing"
  ;
  /* grid-template-columns: auto 1fr; */
  grid-template-rows: 1fr auto;

  height: 100%;
}

.users { 
  grid-area: users;

  padding: 0;
  margin: 0;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 30px;
  overflow-y: auto;

  list-style-type: none;
}

.messages { 
  grid-area: messages;

  padding: 0;
  margin: 0;

  overflow-y: auto;

  list-style-type: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  margin-right: 30px;
  margin-top: 30px;
}

.avatar { 
  margin: auto 1rem;	
  height: 3rem;	
  border-radius: 50%;
}

.username { 
  margin: auto 1rem;
}

.username-chat { 
  margin-top: 15px;
  /* margin: auto 1rem; */
}

.message { 
  display: flex;
  margin-bottom: 1rem;
}

.sender-info { 
  margin-top: 20px;
  display: flex;

  width: 10rem;
}

.message-text { 

  width: 100%;
  margin: 0;
  margin-top: auto;

  color: white;
  background-color: rgb(59, 59, 219);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  max-width: 700px;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  animation-duration: 0.3s;
}


.outgoing { 
  grid-area: outgoing;

  /* margin: 2rem; */

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  overflow-y: auto;
  min-height: 80px;
  min-width: none;
}

.message-text:before {
  left: -3px;
  background-color: rgb(59, 59, 219);
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: " ";
  transform: rotate(60deg) skew(-35deg);
}

.order{
  margin-top:20px;
}

.to-send{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 800px;
  height: 50px;
  width: 350px;
}